[submodule "submodules/bam.core"]
	path = submodules/bam.core
	url = git@github.com:BryanApellanes/Bam.Core.git
[submodule "submodules/bam.net.github.actions"]
	path = submodules/bam.net.github.actions
	url = git@github.com:BryanApellanes/Bam.Net.Github.Actions.git
[submodule "submodules/bam.test"]
	path = submodules/bam.test
	url = git@github.com:BryanApellanes/bam.test.git
[submodule "submodules/bam.testing"]
	path = submodules/bam.testing
	url = git@github.com:BryanApellanes/bam.testing.git
[submodule "submodules/bam.base"]
	path = submodules/bam.base
	url = git@github.com:BryanApellanes/bam.base.git
[submodule "submodules/bam.commandline"]
	path = submodules/bam.commandline
	url = git@github.com:BryanApellanes/bam.commandline.git
[submodule "submodules/bam.data.repositories"]
	path = submodules/bam.data.repositories
	url = git@github.com:BryanApellanes/bam.data.repositories.git
[submodule "submodules/bam.configuration"]
	path = submodules/bam.configuration
	url = git@github.com:BryanApellanes/bam.configuration.git
[submodule "submodules/bam.data"]
	path = submodules/bam.data
	url = git@github.com:BryanApellanes/bam.data.git
[submodule "submodules/bam.data.schema"]
	path = submodules/bam.data.schema
	url = git@github.com:BryanApellanes/bam.data.schema.git
[submodule "submodules/bam.javascript"]
	path = submodules/bam.javascript
	url = git@github.com:BryanApellanes/bam.javascript.git
[submodule "submodules/bam.logging"]
	path = submodules/bam.logging
	url = git@github.com:BryanApellanes/bam.logging.git
